@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/font/Inter-Regular.woff2?v=3.19") format("woff2"),
  url("/font/Inter-Regular.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/font/Inter-Italic.woff2?v=3.19") format("woff2"),
  url("/font/Inter-Italic.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("/font/Inter-SemiBold.woff2?v=3.19") format("woff2"),
  url("/font/Inter-SemiBold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("/font/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"),
  url("/font/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}

/* playfair-display-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    src: url("/font/playfair-display-v40-latin-regular.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 400;
    src: url("/font/playfair-display-v40-latin-italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    src: url("/font/playfair-display-v40-latin-700.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* playfair-display-700italic - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 700;
    src: url("/font/playfair-display-v40-latin-700italic.woff2") format("woff2");
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
